.elem{
	margin: 20px 0;
}

label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }

.dateElem{
	width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
}

.checkdates{
	width: 95%;
    display: inline-block;
}

.reserveBody {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
  }

input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }

  textarea {
    height: 250px;
  }
