/* The sidebar menu */
.sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed;
	top: 0;
	z-index: 1; /* Stay on top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 90px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.hideme {
	display: none !important;
}

/* The sidebar links */
.hov {

	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	background-color: transparent;
	border: transparent;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #f1f1f1;
}

.hov:hover {
	color: #f1f1f1;
	background-color: transparent;
	border: transparent;

}
.hov:focus{
	background-color: transparent;
	border: transparent;
	box-shadow: none !important;
}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	text-align: right;
}

/* The button used to open the sidebar */
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}